@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Nova+Mono&family=PT+Sans&family=Poppins:wght@300;400;700&family=Raleway:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Mono', monospace;
}

/* header */

.banner{
    width: 100%;
    height: 119.5vh;
    background-color: black;
    background-position: center;
    background-size: center;
}


.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10%;
}

.logo{
    width: 30%;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff0000;
    position: absolute;
    left: 15px;
    bottom: -10px;
}

.navbar ul li:hover::after{
    width: 70%;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 15px;
}

/* video gallery */
/* .content{
    margin-top: 50px;
} */
.section-header{
    margin-top: -41.5%;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 15px;
}

.section-header span{
    color: palegreen;
}

.underline{
    border: 1px solid #fff;
    width: 10rem;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 30px;
}

.video-gallery{
    height: 66%;
    max-width: 66%;
    display: grid;
    position: absolute;
    grid-template-columns: 250px 250px 250px;
    align-content: space-evenly;
    gap: 5rem;
    margin-left: 12.5%;
    padding: 10px;
}

.video-gallery .gallery-item{
    position: relative;
    float: left;
    overflow: hidden;
    background: #000;
    min-width: 270px;
    max-width: 496px;
    max-height: 370px;
    width: 48%;
    margin: 0  1%;
    border-radius: 1.5rem;
    cursor: pointer;
}

.video-gallery .gallery-item img{
    width: 105%;
    height: 300px;
    display: block;
    position: relative;
    opacity: 0.7;
    transition: opacity 0.20s, transform 0.5s;
    transform: matrix3d(-1px, 0px, 0px);
    backface-visibility: hidden;
    border-radius: 1.5rem;
}

.video-gallery .gallery-item:hover img{
    opacity: .5;
    transform: matrix3d(0, 0, 0);
}

.gallery-item-caption{
    color: #fff;
    padding: 2em;
    text-transform: uppercase;
    font-size: 1.25em;
    text-align-last: left;
}

.gallery-item-caption, .gallery-item-caption a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-gallery .gallery-item h2{
    font-weight: 300;
    overflow: hidden;
    padding: 0.5em 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p{
    position: relative;
    margin: 0;
    z-index: 10;
}

.video-gallery .gallery-item h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 1px;
    background: #fff;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after{
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item p{
    letter-spacing: 1px;
    font-size: 68%;
    padding: 1em 0;
    opacity: 0;
    transition: opacity 0.35s;
    transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item p:hover{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* video gallery */